* {
  background-color: #100433;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  margin: 1px;
  zoom: 98%;
  font-family: "Space Mono", monospace;
}
#body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #100433;
}
#textForm {
  font-weight: 800;
}
label {
  padding: 5px;
}
#tasks {
  height: 120px;
}
#projectName #tasks,
#email,
#emailAdicional,
#number,
#dateStart,
#dateEnd {
  font-family: "Poppins", "Roboto";
}
.form-control.adjustable {
  resize: vertical;
}
#emailForm {
  text-decoration: none;
  color: yellow;
  padding: 5px;
  opacity: 1;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  transition: 0.5s ease-in-out;
}
#emailForm:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
#activites {
  background-color: rgb(37, 25, 96);
  color: white;
  font-family: "Poppins", "Roboto";
  font-size: 16px;
}
#colId {
  background-color: #100433;
  border: none;
  border-radius: 18px;
}
#cardItem {
  border-color: rgb(255, 255, 255);
  border-radius: 18px;
  border: 1px solid transparent;
}
#cards {
  border-radius: 18px;
  border: 5px solid transparent;
  transition: 0.5s ease-in-out;
}
#cards:hover {
  border-color: #ffffff;
  box-shadow: 0.5rem 0.5rem 1rem rgba(235, 0, 0, 0.15);
  transform: translateZ(1px);
}
